body {
    font-family: "Open Sans", sans-serif;
    background-image: url(img3.jpg);
    background-position: left;
    background-size: cover;
}

header {
    background-color: rgb(28, 28, 28);
    padding-left: 3rem;
    padding-top: 10px;
    height: 11vh;
    position: relative;
    top: 60px;
    box-shadow: 0px 2px 0px rgb(68, 66, 66) inset;
}

main {
    height: 78vh;
    background: linear-gradient(rgba(0, 0, 0, 0.437),rgba(0, 0, 0, 0.436));
}

#primery-navbar h2 {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    margin-right: 35rem;
}

#primery-navbar a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding-right: 40px;
}

.content-wrapper {
    display: inline-block;
    margin-left: 25%;
    margin-top: 12%;
}

.content-wrapper h1 {
    color: white;
    font-size: 4rem;
}

.content-wrapper h2 {
    color: white;
    font-size: 3.5rem;
    margin-left: 70px;
}

#btn1 {
    font-size: 20px;
    margin-left: 12rem;
    margin-top: 2rem;
    padding: 10px 20px;
    background-color:transparent;
    color: white;
    border-color: white;
    border-radius: 5px;
    font-weight: 600;
}

#btn2 {
    font-size: 20px;
    margin-left: 20px;
    padding: 12px 30px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}

footer {
    height: 10vh;
    background-color: rgb(15, 14, 14);
}


